{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
  <title>{% block site_title %}Site title{% endblock %}</title>
  <style>
    {% block extra_style %}
    {% endblock %}
  </style>
  {% block extra_head %}
  {% endblock %}
<body>
    {% block page %}
    {% endblock %}

    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="//unpkg.com/htmx.org@1.1.0"></script>
    {% block extra_script_import %}
    {% endblock %}
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
      {% block extra_script %}
      {% endblock %}
    </script>
  </body>
</html>
